@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    
      /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */
  
      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #215f00;
      --background: 105 100% 98.38%;
      --foreground: 105 10% 0.76%;
  
      --muted: 105 10% 91.9%;
      --muted-foreground: 105 5% 41.9%;
  
      --popover: 105 10% 91.9%;
      --popover-foreground: 105 10% 0.95%;
  
      --card: 105 10% 91.9%;
      --card-foreground: 105 10% 0.95%;
  
      --border: 105 15% 89.76%;
      --input: 105 15% 89.76%;
  
      --primary: 105 100% 19%;
      --primary-foreground: 105 2% 91.9%;
  
      --secondary: 105 5% 95.95%;
      --secondary-foreground: 105 7% 11.9%;
  
      --accent: 105 5% 95.95%;
      --accent-foreground: 105 7% 11.9%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --ring: 105 100% 19%;
  
      --radius: 0.5rem;
  }
}